---
const today = new Date()
---

<footer class='flex justify-center items-center w-full px-16 h-28 border-t-2'>
	&copy; {today.getFullYear()}
	<a href='https://twitter.com/juansetech' target='_blank' rel='noopener noreferrer'>
		&nbsp;JuanseTech
	</a>. All rights reserved.
</footer>
